html,
body {
  font-family: "Lugrasimo", cursive;
  font-family: "Rubik Wet Paint", cursive;
  font-family: "Signika Negative", sans-serif;
}

@media (max-width: 575.98px) {
  body {
    background-color: bisque;
  }

  .card-img-top1 {
    height: 300px;
  }

  .card-img-top3 {
    height: 300px;
  }

  .card-img-top7 {
    height: 300px;
  }

  .carousel-item {
    height: 400px;
  }

  .wakwaw {
    height: 200px;
  }
}

@media (max-width: 767.98px) {
  .card-img-top1 {
    height: 300px;
  }

  .card-img-top3 {
    height: 300px;
  }

  .card-img-top7 {
    height: 300px;
  }
}

@media (max-width: 992px) {
  #content {
    font-size: 14px;
  }
}
